target/
build/
.cache/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib

.DS_Store
**/*.rs.bk
*.swp
*.swo
*.sw?
*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
dist/
*.local
packages/lsp/vscode/server/

.vscode/*
!.vscode/extensions.json
.idea/

dev/test-config/.tilescript/
dev/test-config/.tilescript-build/
examples/js/.tilescript/
examples/js/.tilescript-build/
examples/lua/.tilescript/
examples/lua/.tilescript-build/
