target/
build/
build-hypr-dev/
.cache/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib

.DS_Store
**/*.rs.bk
*.swp
*.swo
*.sw?
*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
dist/
*.local
packages/lsp/vscode/server/

.vscode/*
!.vscode/extensions.json
.idea/

.tilescript-build/
.tilescript/
third_party/Hyprland/build/
.sdk/
